---
export interface Props {
    href: string,
    title: string,
}
const { href, title } = Astro.props;
---

<div class="link">
    <a href={href} target="_blank" rel="noopener noreferrer">
        <span class="icon">
            <slot />
        </span><span class="text">{title}</span>
    </a>
</div>

<style>

    div.link>a {
        display: flex;
        align-items: center;
        color: inherit;
        box-sizing: border-box;
        text-decoration: none;
        font-size: var(--font-size-lg);
        background: rgb(156, 156, 156);
        border-radius: 0.3em;
        height: 5rem;
        padding: 0.5em;
        position: relative;
        border: 1px solid;
    }


    div.link:hover>a {
        background: rgb(128, 128, 128);
        color: #fff
    }

    div.link .icon {
        aspect-ratio: 1;
        flex: 1 1 0%;
        color: inherit;
        display: flex;
        height: 2em;
        margin: 0 0.5em 0 0;
    }

    div.link .text {
        flex: 1 1 100%;
    }
</style>