---
export interface Props {}
const {} = Astro.props;
---

<div class="picture"></div>

<style>
  div.picture {
    background-image: url("/img/pic.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;
    height: 100%;
    border-right: 1px solid;
  }
</style>
