---
export interface Props {
}
const { } = Astro.props;
---

<div class="picture">

</div>

<style>
    div.picture {
        background-image: url('/img/pic.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        border-radius: 0.5em;
        border: 1px solid;
    }
</style>